<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:remove="all">Ordem Finalizada</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div>
			<h1>
				Ordem de Serviço número: <span th:text="${ordemdeservico.id}"> </span>
			</h1>
			<p>
				Instante: <span
					th:text="${ordemdeservico.instante}"></span>
			</p>
			<p>
				Cliente: <span th:text="${ordemdeservico.cliente}"></span>
			</p>
			<p>
				Equipamento: <span th:text="${ordemdeservico.equipamento.tipo}"></span>
			</p>
			<p>
				Descrição do problema:<span th:text="${ordemdeservico.equipamento.descricao}"></span>
			</p>
			<p>
				Informamos que a Ordem de Serviço acima foi concluída. Para outras informações entre em contato.
			</p>
		</div>
	</body>
</html> 